<section class="section template-features-area bg-gray ptb_100 site-section" style="text-align: center;">
  <div class="heading">
    <h2>My Work</h2>
    <h4>Some work are not listed and not hosted to see </h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/tic-tac-toe.png" alt="">
          <h5 class="media-body align-self-center pl-3">Tic-Tok-Toe in JS</h5>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/cal.png" alt="">
          <h5 class="media-body align-self-center pl-3">calculator in JS</h5>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/messaging.png" alt="">
          <h5 class="media-body align-self-center pl-3">B2B Business Growth App in Angular</h5>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/weather.png" alt="">
          <h5 class="media-body align-self-center pl-3">Weather App in Angular</h5>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/culture.png" alt="">
          <h5 class="media-body align-self-center pl-3">Culture Analytics platform Angular</h5>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/stock-updates.png" alt="" style="height: 292px;">
          <h5 class="media-body align-self-center pl-3">Market Analysis in NodeJs</h5>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/mail.png" alt="">
          <h5 class="media-body align-self-center pl-3">Mailer in NodeJs</h5>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/dictionary.png" alt="">
          <h5 class="media-body align-self-center pl-3">Dictionary in NodeJs</h5>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-feaures bg-white shadow-lg media px-3 py-4 m-3">
          <img class="avatar-s" src="../../../../assets/images/messaging.png" alt="">
          <h5 class="media-body align-self-center pl-3">Real-Time chat in ReactJs</h5>
        </div>
      </div>
    </div>
  </div>
</section>