<!-- <p>to-do-app works!</p>
<div class="body">
    <h1 class="title">ToDo App</h1>

    <div class="inputBody">
        <span class="lableText">Enter ToDo</span>

        <div>
            <input type="text" [(ngModel)] = "inputData" />
            <button (click)="submit()">Add</button>
        </div>



    </div>

    <div *ngIf="!isUpdate">
        <div class="listBody" *ngFor = "let data of listData; index as i">
            <h4 class="dataBody">{{data}} {{i}}</h4>
            <div>
                <button class="updateButton" (click)="updateData(data, i)">Update</button>
                <button class="deleteButton" (click)="deleteData()">Delete</button>
            </div>
        </div>
    </div>

    <div *ngIf="isUpdate" class="listBody">
        <input type="text" [(ngModel)] = "updatedData" />
        <button (click)="saveData()">Save</button>
    </div>














</div> -->






<h1>Parent Component</h1>

<br><br><br>

<app-child (parentData)="parentData($event)"></app-child>

<br><br><br>

<h1>{{name}}</h1>






