.body {
    width: 50%;
    height: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;
    background: url('https://images.unsplash.com/photo-1447014421976-7fec21d26d86?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c82e04e1201234889daab5427f481731');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    padding: 20px;
}

.inputBody {
    text-align: center;
}

.lableText {
    margin-left: -150px;
}

.listBody {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.updateButton {
    margin: 5px;
}

.deleteButton {
    margin: 5px;
}

.dataBody {
    width: 60%;
    font-size: unset;
    text-align: initial;
    padding-left: 10px;
}