<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg"
  class="transition duration-300 ease-in-out delay-150">
  <defs>
    <linearGradient id="gradient" x1="46%" y1="0%" x2="54%" y2="100%">
      <stop offset="5%" stop-color="#8ed1fc"></stop>
      <stop offset="95%" stop-color="#edf9fe"></stop>
    </linearGradient>
  </defs>
  <path
    d="M 0,400 L 0,150 C 50.920687988185264,157.7018729669092 101.84137597637053,165.40374593381844 149,165 C 196.15862402362947,164.59625406618156 239.55518408270308,156.08688923163555 273,143 C 306.4448159172969,129.91311076836445 329.9378876928171,112.24869713963938 374,117 C 418.0621123071829,121.75130286036062 482.69326514602847,148.918322209807 538,152 C 593.3067348539715,155.081677790193 639.2890517230694,134.07801402113265 676,126 C 712.7109482769306,117.92198597886735 740.1505279616943,122.76962170566242 782,130 C 823.8494720383057,137.23037829433758 880.1088364301538,146.84349915621755 925,141 C 969.8911635698462,135.15650084378245 1003.414126317691,113.85638166946745 1044,126 C 1084.585873682309,138.14361833053255 1132.2346582990833,183.73097416591258 1179,181 C 1225.7653417009167,178.26902583408742 1271.6472404859762,127.21972166688212 1315,114 C 1358.3527595140238,100.78027833311788 1399.176379757012,125.39013916655894 1440,150 L 1440,400 L 0,400 Z"
    stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1"
    class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
</svg>
<div class="site-sections" id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 position-relative">
        <h2 class="section-title">What I Do?</h2>
      </div>
      <!-- Full stack -->
      <div class="col-lg-6 order-1 order-lg-1 mb-4 mb-lg-0">
        <div class="bg-light pt-5 img-show">
          <img src="../../../../assets/images/fullstack.gif" alt="Image" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6 order-2 order-lg-2">
        <!-- <h2>Full Stack Development</h2> -->
        <h4>Full Stack Development</h4>

        <ul>
          <li class="blurred">
            Building responsive website front end using Angular
          </li>
          <li class="blurred">
            Developing mobile applications using Flutter, React Native and solo
            android apps using Kotlin
          </li>
          <li class="blurred" jk>
            Creating application backend in Node, Express & Flask
          </li>
        </ul>
      </div>
      <!-- Full stack -->
    </div>
    <div class="row">
      <!-- Cloud -->
      <div class="col-lg-6 order-1 order-lg-1 mb-4 mb-lg-0">
        <h4>Cloud Infra-Architecture</h4>
        <ul>
          <li class="blurred">
            Architected robust and scalable solutions on Azure Cloud, enhancing
            application reliability and performance.
          </li>
          <li class="blurred">
            Optimized GCP infrastructure for efficiency and cost-effectiveness.
          </li>
          <li class="blurred" jk>
            Engineered seamless Azure-GCP integrations for versatile projects.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 order-2 order-lg-2">
        <div class="bg-light pt-5 img-show">
          <img src="../../../../assets/images/cloud.gif" alt="Image" class="img-fluid" />
        </div>
      </div>
      <!-- Cloud -->
    </div>
    <div class="row">
      <!-- DevOps -->
      <div class="col-lg-6 order-1 order-lg-1 mb-4 mb-lg-0">
        <div class="bg-light pt-5 img-show">
          <img src="../../../../assets/images/devops.gif" alt="Image" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6 order-2 order-lg-2">
        <h4>Ops Craft Hub</h4>

        <ul>
          <li class="blurred">
            Managed collaborative development on GitHub, employing branching and
            pull requests.
          </li>
          <li class="blurred">
            Automated CI/CD pipelines with Jenkins, integrating diverse tools
            through plugins.
          </li>
          <li class="blurred" jk>
            Orchestrated infrastructure automation using Jenkins and IaC,
            optimizing deployment workflows.
          </li>
        </ul>
      </div>
      <!-- DevOps -->
    </div>
    <div class="row">
      <!-- UI/UX -->
      <div class="col-lg-6 order-1 order-lg-1 mb-4 mb-lg-0">
        <h4>UI/UX Design</h4>
        <ul>
          <li class="blurred">
            Elevated user experiences through intuitive UI/UX design, ensuring
            engaging and user-centric digital interactions.
          </li>
          <li class="blurred">
            Translated design concepts into impactful interfaces, blending
            creativity with usability for enhanced user satisfaction.
          </li>
          <li class="blurred" jk>
            Designed compelling and visually appealing user interfaces, focusing
            on aesthetics and functionality to drive positive user engagement.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 order-2 order-lg-2 d-flex align-items-center justify-content-center">
        <div class="bg-light pt-5 img-show" style="background: transparent !important">
          <img src="../../../../assets/images/uiux.gif" alt="Image" class="img-fluid" />
        </div>
      </div>
      <!-- UI/UX -->
    </div>
  </div>
</div>